In [1]:
#필요한 패키지(판다스, 넘피를 import 하고 pd,np로 별명을 만드시오
import pandas as pd
import numpy as np

#### 시리즈  문제
#### Series
  - pandas의 기본 객체 중 하나
  - numpy의 ndarray를 기반으로 인덱싱을 기능을 추가하여 1차원 배열을 나타냄
  - index를 지정하지 않을 시, 기본적으로 ndarray와 같이 0-based 인덱스 생성, 지정할 경우 명시적으로 지정된 index를 사용
  - **같은 타입**의 **0개 이상**의 데이터를 가질 수 있음

In [ ]:
# 연습문제 1
# 임의로 두개의 시리즈 객체를 만든다.
# 모두 문자열 인덱스를가져야 하며 두 시리즈에 공통적으로 포함
# 되지 않는 인덱스(라벨)가 있어야 한다.
# 값과 시리즈 원소 개수도 임의 설정할 것

In [ ]:
#연습문제 2 : 아래 시리즈 객체를 이용하여 사칙연산을 
#수행하고 결과를 출력하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'영어':80,'수학':75})

In [ ]:
#연습문제 3 : 아래 두 객체에 대하여 아래 제시된 연산을 수행하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'과학':80,'논술':75})

In [ ]:
# - 연산을 수행하고 결과를 설명하시오

In [ ]:
ex_s1.values - ex_s2.values
# 위 연산을 수행했을 때 출력되는 결과를 설명하시오

In [4]:
# 연습문제 4
# 아래 데이터를 이용해서 시리즈 s를 생성하시오
    # 서울 : 9904312, 부산 : 3448737, 인천 : 2890451  대구 : 2466052    
s = [9904312,3448737,289045,2466052

서울    9904312
부산    3448737
인천     289045
대구    2466052
dtype: int64

In [5]:
# 연습문제 5 :
#시리즈 s 변수의 인덱스를 출력해서 확인하고
#세번째 인덱스의 값을 라벨인덱스로 접근 후 출력하시오.

Index(['서울', '부산', '인천', '대구'], dtype='object')

289045

In [6]:
# 연습문제 6
#시리즈 s에 대하여 라벨(문자)인덱싱을 이용하고
#부산, 인천, 대구의 값을 추출하시오.

부산    3448737
인천     289045
대구    2466052
dtype: int64

In [3]:
# 연습문제 7
#아래 데이터를 이용하여 시리즈를 생성하고 데이터 순서를 서울, 부산, 인천, 대전 으로 설정하시오 - 딕셔너리 활용
#   서울 9631482
#   부산 3393191
#   인천 2632035
#   대전 1490158

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [ ]:
# 연습문제 8
# 위에서 생성한 시리즈에 인구 라는 이름을 설정하시오

In [ ]:
# 연습문제 9
# 위에서 생성한 시리즈의 인구수가 3000000 이상인 도시를 출력하시오

In [ ]:
# 연습문제 10
# 위에서 생성한 시리즈의 서울 데이터를 11000000 으로 변경하세요

In [ ]:
# 연습문제 11
# 대전 데이터를 삭제하세요

In [ ]:
# 연습문제 12 
# 대구 데이터가 있는지 확인 하세요